{% extends 'dashboard/dashboard.html' %}
<!-- Extend the dashboard template -->

{% block title %}Manager Dashboard {% endblock title %}
{% block tasks %}

<!--Task Table-->

<div class="bg-white p-8 font-sans text-gray-800">
  <div class="max-w-6xl mx-auto">
    <table class="w-full table-fixed border-collapse">
      <thead>
        <tr class="border-b border-gray-300 text-left text-sm font-semibold text-gray-600">
          <th class="text-sm font-semibold text-gray-500 pb-2">TASK TITLE</th>
          <th class="text-sm font-semibold text-gray-500 pb-2">PRIORITY</th>
          <th class="text-sm font-semibold text-gray-500 pb-2">TEAM</th>
          <th class="text-sm font-semibold text-gray-500 pb-2">CREATED AT</th>
        </tr>
      </thead>
      <!--Task Item-->
      {% for task in tasks %}
      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="px-4 py-3 text-sm flex items-center gap-2">
            <div class="flex items-center gap-2">
              <div class="h-2 w-2 rounded-full bg-green-500"></div>
              <div>
                <span class="font-semibold">{{task.title}}</span>
               <a href="{% url 'update-task' task.id %}" class="px-2 py-1 bg-green-500">Edit</a>
               <form action="{% url 'delete-task' task.id %} "method='POST'>
                {% csrf_token %}
                <button type="submit" class="px-2 py-1 bg-red-500">Delete</button>
               </form>
              </div>
            </div>
          </td>
          <td class="px-4 py-3">
            <div>
              <span
                class="px-3 py-1 rounded-xl bg-blue-300 text-blue-800 font-semibold">{{task.details.get_priority_display}}</span>
            </div>
          </td>
          <td class="px-4 py-3">
            <div class="flex -space-x-2">
              {% for emp in task.assigned_to.all %}
              <div class="w-7 h-7 bg-blue-500 justify-center rounded-full flex items-center text-white">
                <span>{{emp.name|slice:':2'}}</span>
              </div>
              {% endfor %}

            </div>
          </td>
          <td class="px-4 py-3 text-sm">{{task.created_at|timesince}}</td>
        </tr>

      </tbody>
      {% endfor %}
    </table>
  </div>

</div>


{% endblock tasks %}