{% extends 'dashboard/dashboard.html' %}
<!-- Extend the dashboard template -->

{% block title %}Manager Dashboard {% endblock title %}
{% block tasks %}

<div class="overflow-x-auto rounded-xl shadow-sm bg-white mb-5">
  <table class="w-full table-fixed text-sm text-gray-600">
    <thead class="bg-gray-50 text-xs uppercase text-gray-400 border-b border-gray-200">
      <tr>
        <th class="px-4 py-3 w-[5%] text-center">#</th>
        <th class="px-4 py-3 w-[30%] text-center">Task Title</th>
        <th class="px-4 py-3 w-[15%] text-center">Priority</th>
        <th class="px-4 py-3 w-[30%] text-center">Team</th>
        <th class="px-4 py-3 w-[20%] text-center">Created</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      {% for task in tasks %}
      <tr class="hover:bg-gray-50">
        <td class="px-4 py-4 text-center font-medium">{{ forloop.counter }}</td>

        <td class="px-4 py-4 flex items-center gap-2 text-left">
          <div class="w-2 h-2 rounded-full bg-green-500"></div>
          <a href="{% url 'task-details' task.id %}">{{ task.title }}</a>
          <a href='{% url "update_task" task.id %}' class="px-2 py-1 bg-green-500">Edit</a>
          <form action='{% url "delete_task" task.id %}' method='POST'>
            {% csrf_token %}
            <button type='submit' class="px-2 py-1 bg-red-500">Delete</button>
          </form>
        </td>

        <td class="px-4 py-4 text-center">
          <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-xs">
            {{ task.details.get_priority_display }}
          </span>
        </td>

        <td class="px-4 py-4 text-center">
          <div class="flex justify-center -space-x-2">
            {% for emp in task.assigned_to.all %}
            <div
              class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-xs border-2 border-white"
              title="{{ emp.name }}">
              {{ emp.first_name|slice:':1' }}
            </div>
            {% endfor %}
          </div>
        </td>

        <td class="px-4 py-4 text-center">{{ task.created_at|timesince }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>




{% endblock tasks %}